* {
  cursor: default;
  
  /* Trying to make text unselectable. */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
}

body {
  margin: 0px;
  padding: 0px;
}

canvas {
  /* NOTE: Turning off double-tap zoom makes the page more responsive to user
         input on touch devices.
   - this CSS style option turns off double-tap zoom on touch devices.*/
  touch-action: manipulation;
  display: inline-block;
}

header {
  display: flex;
  height: auto;
  flex-wrap: wrap;
}

.emptyDisplay {
  height: 500px;
  width: 500px;
  background: #EDEDED;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.emptyDisplay form {
  align-self: center;
}

.emptyDisplay input.error {
  border: 1px solid red;
}

.display {
  background: #EDEDED;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slider {
  width: 100%;
}
