/* New css */
body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    background-color: #BEBEBE;
    border-bottom: 1px solid grey;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
}

.vLine {
    border-left: 1px solid grey;
}

.headerContainer {
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hidden {
    display: none !important;
}

/* Loader css take from https://www.codingthesmartway.com/how-to-implement-a-css-loader/ */
.loading {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #34db55;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}